{% include header.html %}
<body>

<section id="main" class="middle wrapper">
    <div class="row row-fluid">
        <div id="primary" class="site-content">
            <div id="content" role="main">
                <div class="readable-content">
        
                    <article class="clearfix page type-page status-publish hentry">
                        <div class="intro">
                            <h2>Hi! I am a <span class="label">malukenho</span><br>A simple developer that loves open-sourcing.</h2>
                        </div>
                    </article>

                    {{ content }}
                </div>
            </div>
        </div>
    </div>
</section>
</body>