{% include header.html %}
<body>

<header class="nav-header">
    <div class="logo">
        <a class="logo" href="/" aria-label="Home Page">@malukenho</a>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/advent-of-code.html">Advent of Code</a></li>
            <li><a href="/repent">Confession Prep</a></li>
            <li><a href="https://github.com/malukenho" target="_blank">Github</a></li>
        </ul>
    </nav>
</header>

<section id="main" class="middle wrapper">
    <div class="row row-fluid">
        <div id="primary" class="site-content">
            <div id="content" role="main">
                <div class="readable-content">
        
                    <article class="clearfix page type-page status-publish hentry">
                        <div class="intro">
                            <h2>Hi! I am <span class="label">malukenho</span>!</h2>
                        </div>
                    </article>

                    {{ content }}
                </div>
            </div>
        </div>
    </div>
</section>
</body>